/* Google font work sense */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.title{
   

font-size: 3rem;
color: #0B0223;
font-weight: 700;

}
.text{
    color: #3C354F;


font-size: 1.02rem;

font-weight: 500;

}
.btn-white{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border:none;
color:#FF42A5;
font-size: 1.2rem;
border-radius: 3rem;
font-weight: 600;
background: #FFF;
}
.pink-btn{

color: #FFF;
padding: 21px 40px;
font-size: 1.2rem;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
font-weight: 600;
border: none;
}
.blue-btn{
color: #FFF;
padding: 21px 40px;
font-size: 1.2rem;
border-radius: 48px;
font-weight: 600;
background: #4EC5F7;
border: none;
margin-left: 24px;
}
.pink{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* nav */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 240px;
   
}
.link-section>ul>li> a{
    margin-right: 32px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section h1{
    margin-left: 20px;
}
.link-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    display: flex;
   margin-left: 32px; 
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 17px 24px;
}
.follow p{
    margin-left: 32px;
    margin-right: 24px;
}
.follow>a{
    margin-right: 16px;
   
}
.fa-youtube{
    color:red;
}
.fa-tiktok{
    color: #3C354F;
}

/* Banner section */
.banner-section{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
    
}
.banner-text{
    padding: 148px 240px;
    margin-right: 68px;
   
}
.banner-text p{
    margin-bottom: 17px;
}
.purple-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat-text{
   
font-size: 6rem;

font-weight: 800;


margin-bottom: 24px;
}
.banner-text button{
    margin-top: 41px;
}

/* Gamer Section */
.gamer-section{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    justify-content: center;
    padding: 55px 240px;
    flex-direction: row-reverse ;
}

.gamer-text{
    margin-left:56px;
    text-align: center;
   
}
.gamer-text>button{
    margin: 24px 0;
}
.gamer-text h3{
    font-size: 2rem;
}
.gamer-text p{
    font-size: 1.2rem;
}
.gamer-title{
    font-size: 3rem;
    margin-bottom: 24px;
}

/* Online games section */
.online-section{
   
    padding: 120px 240px;
}
.online-text{
    text-align: center;
}
.online-text h1{
    margin: 24px 0;
}
.online-games{
    display: flex;
    margin-top: 48px;
    gap:24px;
}
.online-game p{
    margin-top: 24px;
}
.online-title{
    color: #3C354F;
}

/*overlay */
.online-game {
    position: relative;
   
    
}




/* Style the overlay container */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 342px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5); 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.play-icon{
    font-size: 1.5rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.watch-now {
    color:#F948B2;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.online-game:hover .overlay {
    opacity: 1;
}





/* Play section */
.play-section{
    padding: 0 240px;
    display: flex;
    justify-content: center;
    
}
.play-text{
    margin-right: 265px;
    text-align: center;
    padding: 150px 0;
}
.play-text h1{
    margin-bottom: 24px;
}
.badge-img{
    position: relative;
    top: -200px;
    left: -100px;
}
/* career */
.career-section{
   
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    display: flex;
    padding: 120px 240px;
    
    align-items: center;

}
.career-text{
    margin-right: 80px;
}
.career-text h1{
    color: #FFF;
margin-bottom: 24px;
font-size: 3rem;

font-weight: 700;
line-height: 60px; /* 125% */
}
.career-text p{
    max-width:680px;
    color: #FFF;

font-size: 1.02rem;
margin-bottom: 32px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.career-img img{
    width: 100%;
}
.careers{
    display: flex;
    justify-content: space-between;
}

/* Game type section */
.game-type-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 150px 250px;
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 36px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 37px;
}
.single-game{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #0B0223;
    border-radius: 50px;

}
.single-game p{
    margin-left: 16px;
}
.footer{
    text-align: center;
    padding: 130px 240px;
    background: #0B0223;
    color: white;
}
.footer a{
    color: #FFF;
    text-decoration: none;
    margin-right: 60px;
}
.footer-title{
    color: #FFF;
}
.logo-section{
    margin-bottom: 66px;
}
.useful-links{
    margin:66px 0px;
}
.social-links{
    margin-bottom: 66px;
    font-size: 1.3rem;
}
.conditions{
    margin-bottom: 28px;
   
}
.conditions a{
    color: #3C354F;
}

.copyright{
    color: #3C354F;
}

/* hover effect */
.single-game:hover{
    color: #FF42A5;
    border: 1.5px solid var(--Linear, #FF42A5);

}

/* Responsive screen  */

@media screen and (max-width:576px) {
   
    .navbar,.link-section,.navbar ul,.banner-section,.gamer-section,.online-games,.play-section,.career-section{
        flex-direction: column;
    }
    .navbar,.gamer-section,.online-section,.play-section,.career-section,.footer{
        padding: 20px;
    }
    .link-section>ul>li> a,.follow{
        margin: 10px 0;
    }
    .banner-section{

        justify-content: center;
        align-items: center;
       
    }
    .banner-text{
        padding: 20px;
        text-align: center;
    }
    .banner-img img, .gamer-img img{
        width: 100%;
    }
    .play-img img{
        width: 100%;
    }
    .badge-img img{

        width: 50%;
    }
    .play-text{
        margin: 20px;
    }
    .careers{
        justify-content: space-around;
    }
    .game-type-section{
        display: grid;
        width: 70%;
        grid-template-columns: repeat(3,1fr);
        column-gap: 5px;
        padding: 10px;
    }
    .single-game{
        padding:10px 25px;
        white-space: nowrap;
       
    }
    .single-game p{
        font-size: 0.7rem;
    }
    .single-game img{
        width: 25%;
    }

    .useful-links,.social-links{
        white-space: nowrap;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(3,1fr);
    }
    .conditions{

        white-space: nowrap;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
}

/* tablet responsive */
@media screen and (min-width:577px) and (max-width:991px) {
    .navbar,.gamer-section,.footer{
        padding: 20px;
        align-items: center;
    }
    .logo-section h1{
        font-size: 1.5rem;
    }
    .logo-section img{
        width: 50%;
    }
    .link-section>ul>li> a{
        margin-left: 10px;
        white-space: nowrap;
        
    }
    .banner-section,.gamer-section,.play-section,.career-section{
        flex-direction: column;
    }
    .banner-text,.career-section{
        text-align: center;
        padding: 20px;
    }
   .gamer-img img{
    width: 100%;
   }
   .game-type-section{
    white-space: nowrap;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
   }

   .footer img{
    width: 10%;
   }
   .useful-links,.social-links,.conditions{
    white-space: nowrap;
    display: grid;
    row-gap: 20px;
    padding: 0 10px;
    grid-template-columns: repeat(6,1fr);
}
   .online-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .online-games{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   .play-section{
    margin-top:-130px;
    align-items: center;
    padding: 20px;
   }
   .play-text{
    margin: 20px;
   }
   
   
}